<html>
    <head>
        {% load humanize %}
    </head>
    <body>
        {% for i, acc in queryset %}
        <a class="container">
            <button class="jumper">SCOPRI DI PIU'!</button>
            <div class="carsnippet">
                <img src="{{ i.foto1.url }}" width="280" height="200" align= "left"/>
                <div id="descrizione" align= "right" style="text-align: left;">
                    <p style="font-size:26px; color:red; font-weight: bolder;margin-top: 0px; margin-bottom: 15px">
                        {{ acc.nome }}
                    </p>
                    <p style="font-size:20px; color: green; font-weight: bolder; margin-top: 0px; margin-bottom: 15px">
                        {{ acc.prezzo }} €<br>
                    </p>
                    <p>{{ acc.descrizione|truncatechars:125 }}</p>
                </div>    
            </div>
        </a>
        {% endfor %}
    </body>
</html>