{% extends 'gestione/common.html' %}
{% block title%} 
    Dashbord venditore
{% endblock %}
{%block content%}
<h1>I tuoi Oggetti:</h1>
<h2>I tuoi mezzi:</h2>
<ul>
    {% for mezzo in mezzo_list %}
        <li>
            <a href="{% url 'gestione:delete_mezzo' mezzo.pk %}">
                {{ mezzo.marca }} {{ mezzo.modello }}
            </a>
        </li>
    {% endfor %}
</ul>

<h2>I tuoi accessori</h2>
<ul>
    {% for accessorio in accessorio_list %}
        <li>
            <a href="{% url 'gestione:delete_accessorio' accessorio.pk %}">
                {{ accessorio.nome }}
            </a>
        </li>
    {% endfor %}
</ul>
    <a style="font-size:24; color: black" href="{% url 'gestione:dashboard' %}" style="margin-top: 25px;">Torna alla dashboard</a>
{%endblock%}